---
layout: page
---

<div class="page-container">
  <div class="page-title" style="padding-bottom: 0; display: block;">
    <h1 style="margin-bottom: 0;">Hello there, I'm David.</h1>
  </div><img class="wave" src="/images/wave.png">
  <!-- <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#0e293c" fill-opacity="1" d="M0,96L40,112C80,128,160,160,240,176C320,192,400,192,480,186.7C560,181,640,171,720,186.7C800,203,880,245,960,261.3C1040,277,1120,267,1200,240C1280,213,1360,171,1400,149.3L1440,128L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
  </svg> -->
  <!-- Remove thin line between with -1px top margin? check body width for page-container shrinking on mobile  -->
  
  <div class="page-section">    
    <div class="page-block" style="flex-basis: 40%;">
      <div id="photo"></div>
    </div>
    <div class="page-block" style="flex-grow: 1;">
      <a id="about" class="anchor"></a>
      <div class="section-title">
        <h2>About Me</h2>
        <div id="contact-links">
          <a target="_blank" href="https://www.linkedin.com/in/david-tran-57043b189/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a target="_blank" href="https://github.com/trdavidt" target="_blank"><i class="fab fa-github"></i></a>
          <a target="_blank" href="mailto:d6tran@ucsd.edu" target="_blank"><i class="far fa-envelope"></i></a>       
        </div> 
      </div>
      <p style="text-align: left;">
        I'm a second-year computer science undergrad at UCSD interested in software engineering, data science, and computer networks. I'm currently an undergraduate web programmer at
        <a href="https://caida.org">CAIDA</a> working on <a href="https://catalog.caida.org">catalog.caida.org</a> and other software for internet measurement research. 
        I have experience with full-stack web development, and would like to get involved with software projects and other opportunities to broaden my skillset. I am looking for software engineering internships for summer 2023 :D
      </p>      
    </div>    
  </div>
  <!--<div class="page-section">
    <a id="projects" class="anchor"></a>
    <h2 class="section-title">Projects</h2>
    {% assign sortedProjects = site.projects | sort: "date" | reverse %}
    {% for project in sortedProjects %}
      <a class="project-card" href="{{ project.url }}">
        <img src="{{ project.image }}">
        <p>{{ project.title }}</p>
        <p>{{ project.desc }}</p>
      </a>
    {% endfor %}
  </div>-->
  <!--<div class="page-section" style="flex-direction: row !important;">
    <h2 class="section-title">Skills</h2>
    {% assign sortedSkills = site.skills | sort: "order" %}
    {% for skill in sortedSkills %}
      {% if skill.type == "Language" %}
        <a class="skill teal"><p>{{ skill.name }}</p></a>
      {% endif %}
    {% endfor %} 
    {% for skill in sortedSkills %}
      {% if skill.type == "Framework/Tool" %}
        <a class="skill gray"><p>{{ skill.name }}</p></a>
      {% endif %}
    {% endfor %}       
  </div>-->
</div>

