---
layout: page
---

<div class="page-container">
  <div class="page-section">    
    <div class="page-block" style="flex-grow: 1;">
      <a id="about" class="anchor"></a>
      <div class="section-title">
        <h2>About Me</h2>
        <div id="contact-links">
          <a target="_blank" href="https://www.linkedin.com/in/d6tran" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a target="_blank" href="https://github.com/trdavidt" target="_blank"><i class="fab fa-github"></i></a>
          <a target="_blank" href="mailto:d6tran@ucsd.edu" target="_blank"><i class="far fa-envelope"></i></a>       
        </div> 
      </div>
      <p style="text-align: left;">
        I'm a second-year computer science undergrad at UCSD interested in software engineering, data science, and computer networks. I'm currently an undergraduate web programmer at
        <a href="https://caida.org">CAIDA</a> working on <a href="https://catalog.caida.org">catalog.caida.org</a> and other software for internet measurement research. 
        I have experience with full-stack web development, and would like to get involved with software projects and other opportunities to broaden my skillset. I am looking for software engineering internships for summer 2023 :D
      </p>      
    </div>    
    <div class="page-block" style="flex-basis: 40%;">
      <div id="photo"></div>
    </div>
  </div>
  <!--<div class="page-section">
    <a id="projects" class="anchor"></a>
    <h2 class="section-title">Projects</h2>
    {% assign sortedProjects = site.projects | sort: "date" | reverse %}
    {% for project in sortedProjects %}
      <a class="project-card" href="{{ project.url }}">
        <img src="{{ project.image }}">
        <p>{{ project.title }}</p>
        <p>{{ project.desc }}</p>
      </a>
    {% endfor %}
  </div>-->
  <!--<div class="page-section" style="flex-direction: row !important;">
    <h2 class="section-title">Skills</h2>
    {% assign sortedSkills = site.skills | sort: "order" %}
    {% for skill in sortedSkills %}
      {% if skill.type == "Language" %}
        <a class="skill teal"><p>{{ skill.name }}</p></a>
      {% endif %}
    {% endfor %} 
    {% for skill in sortedSkills %}
      {% if skill.type == "Framework/Tool" %}
        <a class="skill gray"><p>{{ skill.name }}</p></a>
      {% endif %}
    {% endfor %}       
  </div>-->
</div>

