---
layout: page
---

<div class="page-container">
  <div class="page-title" style="padding-bottom: 0;">
    <h1>Hello there 👋, I'm David.</h1>
    <p style="text-align: left;">I'm an incoming computer science undergrad at UC San Diego interested in software engineering, statistics, and data science. I have experience with front-end web development, and would like to get involved with new software projects and student organizations to broaden my skillset.</p>
  </div>
  <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#0e293c" fill-opacity="1" d="M0,96L40,112C80,128,160,160,240,176C320,192,400,192,480,186.7C560,181,640,171,720,186.7C800,203,880,245,960,261.3C1040,277,1120,267,1200,240C1280,213,1360,171,1400,149.3L1440,128L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
  </svg>
  <div class="page-section">    
    <div class="page-block">
      <div id="photo"></div>
    </div>
    <div class="page-block">
      <a id="about" class="anchor"></a>
      <h2 class="section-title">About Me</h2>    
      <p>📍 San Diego, CA</p>      
      <p>Incoming Freshman at UC San Diego</p> 
      <p>B.S. Computer Science (2021-2025)</p>
      <p id="contact-links">
        Contact: <a target="_blank" href="mailto:d6tran@ucsd.edu">Email</a>
        <a target="_blank" href="https://github.com/trdavidt">GitHub</a>
        <a target="_blank" href="https://www.linkedin.com/in/david-tran-57043b189/">LinkedIn</a>
      </p>
    </div>    
  </div>
  <div class="page-section">
    <a id="projects" class="anchor"></a>
    <h2 class="section-title">Projects</h2>
    {% assign sortedProjects = site.projects | sort: "date" | reverse %}
    {% for project in sortedProjects %}
      <a class="project-card" href="{{ project.url }}">
        <img src="{{ project.image }}">
        <p>{{ project.title }}</p>
        <!-- <p>{{ project.date | date: '%B %Y' }}</p> -->       
      </a>
    {% endfor %}
  </div>
  <div class="page-section" style="flex-direction: row !important;">
    <h2 class="section-title">Skills</h2>
    {% assign sortedSkills = site.skills | sort: "order" %}
    {% for skill in sortedSkills %}
      {% if skill.type == "Language" %}
        <a class="skill teal"><p>{{ skill.name }}</p></a>
      {% endif %}
    {% endfor %} 
    {% for skill in sortedSkills %}
      {% if skill.type == "Framework/Tool" %}
        <a class="skill gray"><p>{{ skill.name }}</p></a>
      {% endif %}
    {% endfor %}       
  </div>
</div>

