:root {
  --navy: #0e293c;
  --teal: #249db9;
  --gray: #dedede;
  --hover-gray: #898b981a;
  --light-gray: #fcf6fa;
}

html {
  font-size: 18px;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1em;
}

main {
  padding: 1.5em 10%;
}

main a {
  color: var(--teal);
  transition: color 0.3s;
}

main a:hover {
  color: var(--navy);
}

.code, code {
  font-family: "Lucida Console", monospace !important;
  font-size: 85% !important;
}

h2 a {
  text-decoration: none;
}

/* header */

header {
  background-color: var(--light-gray);
  border-bottom: 1px solid var(--gray);
  padding: 2px 10%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

header a:hover {
  background-color: var(--hover-gray);
}

header #home {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 0;
  padding-left: 0;
  margin-right: 2em;
  background-color: transparent;
}

header #toggle-btn {
  color: black;
  margin: 10px 15px;
  display: none;
}

header i:hover {
  cursor: pointer;
}

/* page blocks */

.page-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.page-block-sm {
  flex-basis: 40%;
}

.page-block {
  flex-basis: 50%;
  flex-grow: 1;
}

/* front page */

#contact-links {
  margin: 1em 0;
}

#contact-links a {
  padding: 0 15px;
  border-right: 1px solid var(--navy);
}

#contact-links a:first-of-type {
  padding-left: 0;
}

#contact-links a:last-of-type {
  border-right: none;
}

#photo {
  width: 250px;
  height: 250px;
  background-image: url(images/fallen-star.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 15px 20px rgb(43 50 92 / 15%);
  margin: 1em auto;
}

/* posts */
.post a {
  text-decoration: none;
  display: block;
  margin: 1em 0;
}

.post span {
  color: black;
  display: inline-block;
  width: 7.5em;
}

.post h3 {
  display: inline-block;
  margin: 0;
}

@media screen and (max-width: 1400px) {
  #photo {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 576px) { 
  #photo {
    width: 200px;
    height: 200px;
  }

  html {
    font-size: 12px !important;
  }

  header a {
    padding: 5px;
  }
}

@media screen and (max-width: 375px) {
}
