<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
     
    <!--Page content--> 
    <div class="page-container">
      <div class="page-title">
        <h1>{{ page.title }}</h1>
        <p>{{ page.desc }} <a target="_blank" href="{{ page.link }}" class="nav-link" rel="external" style="margin-left: 0;">Visit project.</a><i class="fas fa-arrow-right"></i></p>               
      </div>
      <div class="page-section" style="justify-content: center; flex-direction: row !important;">
        {% assign i = 0 %}
        {% for skill in page.skills %}
          {% assign skillObj = site.skills | where: "name", page.skills[i] | first %}
          {% if skillObj.type == "Language" %}
            <a class="skill teal"><p>{{ skill }}</p></a>
          {% endif %}
          {% assign i = i | plus: 1 %}
        {% endfor %} 
        {% assign j = 0 %}
        {% for skill in page.skills %}
          {% assign skillObj = site.skills | where: "name", page.skills[j] | first %}
          {% if skillObj.type == "Framework/Tool" %}
            <a class="skill gray"><p>{{ skill }}</p></a>
          {% endif %}
          {% assign j = j | plus: 1 %}
        {% endfor %}
      </div>
      <div class="page-section">
        <img src="{{ page.image }}" class="project-img-large">
      </div>
    </div>

    {% include footer.html %}
  </body>
  <script src="{{ site.baseurl }}/script.js"></script>
</html>